body {
    font-family: 'Nunito Sans', 'Arial', sans-serif;

    padding: 0px;
    margin: 0px;

    color: #787878;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}

/* header */
/* header-top */

.header-page {
    background-color: #e9e9e9;
}

.header-top,
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} 

.header-top {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-nav__item:not(:first-of-type) {
    margin-left: 30px;
}

.header-nav__item a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: .1em;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 500;
    color: #787878;
}

.header-nav__item a:hover {
    color: #84dad7;
}

/* header-bottom */

.header-bottom {
    max-width: inherit;
    display: flex;
    justify-content: flex-end;

    padding: 180px 0px 200px 0px;
}

.container-inner {
    max-width: 500px;
    margin-right: auto 0px auto auto;
}

.header-bottom__title {
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: .01em;
    color: #000000;
}

.header-bottom__text {
    font-weight: 400;
    letter-spacing: .005em;
    line-height: 28px;
    font-size: 18px;
    color: #787878;
    margin: 40px auto;
}

.header-bottom__link {
    background-color: #10c9c3;
    color: #ffffff;

    font-style: 'Montserrat', 'Arial', sans-serif;
    font-size: 12px;
    line-height: 84px;
    letter-spacing: .1em;
    font-weight: 500;
    padding: 20px 45px;
    text-transform: uppercase;
}

.header-bottom__link:hover {
    opacity: .5;
    cursor: pointer;
}

/* main */

/* section about-us */

.about-us {
    text-align: center;

    padding-top: 100px;
    padding-bottom: 100px;
}

.about-us__title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 60px;
    color: #191919;
}

.about-us__text {
    font-size: 16px;
    color: #787878;
    letter-spacing: .05em;
    line-height: 24px;
    max-width: 630px;
    width: auto;
    margin: 30px auto;
}

/* section with grid */
.grid-background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 100px;
}

.grid-item {
    background-color: #dddddd;
}

.grid-item:first-child,
.grid-item:nth-child(3),
.grid-item:nth-child(8) {
    background-color: #838383;
}

.grid-item:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item:last-child {
    background-color: #f5f5f5;
    grid-column: 1/5;
}

.dark {
    background-color: #252525; 
}

.light {
    background-color: #244ed6;
    background-image: url('img/animation/IMG_2361.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.eye {
    background-color: inherit;
    color: inherit;
    border-color: transparent;
}

.eye:hover {
    opacity: 0.7;
    cursor: pointer;
}

.grid-item__btn {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin: 0px; 
}

.grid-item__btn:hover {
    cursor: pointer;
    opacity: 0.5;
} 

/* section skills */

.skills {
    background: linear-gradient(to right,  #f8f9f9 50%, #e9e9e9 50%);

    padding-top: 117px;
    padding-bottom: 150px;
} 

.skills__title {
    font-size: 30px;
    line-height: 84px;
    letter-spacing: .01em;
    color: #171717;
} 

.skills__item {
    font-size: 12px;
    line-height: 30px;
    letter-spacing: .1em;
    font-style: 'Montserrat', 'Arial', sans-serif;
    font-weight: 500;
    color: #000000;

    margin-bottom: 40px;

    position: relative;
}

.skills__item span {
    padding-left: 20px;
}

.skills__item::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 510px;
    border-bottom: 3px solid #d8d8d8;
}

.skill-design,
.skill-web,
.skill-marketing {
    position: relative;
}

.skill-design::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 335px;
    border-bottom: 3px solid #39b4af;
}

.skill-web::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 430px;
    border-bottom: 3px solid #39b4af;
}

.skill-marketing::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 280px;
    border-bottom: 3px solid #39b4af;
}

/* result */

.result {
    background-color: #10c9c3;

    padding-top: 100px;
    padding-bottom: 100px;
}

.result-block,
.result-path {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.result-path {
    width: 25%;
}

.result-description {
    font-style: 'Montserrat', 'Arial', sans-serif;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;
    padding-left: 30px;  
}

.result-description__title {
    font-size: 18px;
    letter-spacing: .03em;
}

.result-description__text {
    font-size: 12px;
    letter-spacing: .1em;
    margin: 0px;
    text-transform: uppercase;
}

/* .work-block */

.work-block {
    padding-top: 100px;
    padding-bottom: 100px;
}

.work-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: .01em;

    text-align: center;
    color: #191919;
}

.work-text {
    font-style: 'NunitoSans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .05em;

    text-align: center;
    color: #787878;

    margin-top: 40px;
    margin-bottom: 60px;
}

.video-block {
    text-align: center;
    width: 100%;
}

.work-video {
    width: 100%;
    max-width: 1170px;
    height: auto;

    background-image: #787878;
}

/* our services */

.service-block {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: #f5f5f5;
}

.service-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.service-item {
    width: 21%;
    margin-top: 50px;
    text-align: center;
}

.service-item__title {
    font-style: 'Montserrat', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #191919;
    letter-spacing: .1em;
    line-height: 30px;
    text-transform: uppercase;

    margin-top: 30px;
    margin-bottom: 20px;
}

.service-item__text {
    font-style: 'NunitoSans', 'Arial', sans-serif;
    font-style: 16px;
    line-height: 24px;
    letter-spacing: .05em;
    color: #787878;
    font-weight: 400;
}

/* testimonials */

.testimonials {
    background-color: #10c9c3;
    color: #ffffff;
    padding-top: 180px;
    padding-bottom: 180px;
}

.testimonials-list {
    text-align: center;
    font-style: 'Montserrat', 'Arial', sans-serif;
    line-height: 36px;
    font-weight: 500;
}

.testimonials-text {
    letter-spacing: .01em;
    font-size: 25px;
}

.testimonials-author {
    font-size: 12px;
    letter-spacing: .1em;
}

/* clients */

.clients {
    padding-top: 30px;
    padding-bottom: 30px;
}

.clients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.clients-iten__img {
    width: 20%;

    text-align: center;
}

/* Form */

.form-wrap {
    text-align: center;

    background-color: #f5f5f5;

    padding-top: 100px;
    padding-bottom: 100px;
}

.form-title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 84px;
    color: #1d1d1d;

    margin: 0px;
}

.form-subtitle {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .005em;
    color: #787878;

    margin-bottom: 40px;
    margin-top: 0px;
}

.modal-inner {
    max-width: 670px;
    width: auto;
    height: auto;
    margin: 0px auto;
}

.modal-text:first-child {
    margin-bottom: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.modal-text:nth-child(2) {
    margin-top: 35px;
    margin-bottom: 35px;
}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border: 0px;
}

textarea {
    padding-top: 10px;
    padding-left: 10px;

    font-size: 15px;

    border: 0px;
}

input[type="name"],
input[type="email"] {
    width: 320px;
}

input[type="text"] {
    width: 100%;
}

.field {
    resize: none;
    width: 100%;
}

.field {
    height: 170px;
}

button {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #10c9c3;

    font-style: 'Montserrat', 'Arial', sans-serif;
    font-weight: 500;
    letter-spacing: .1em;
    font-size: 12px;
    line-height: 54px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    border: 0px;
    margin-top: 30px;
}

/* footer */

.page-footer {
    background-color: #141414;

    padding-top: 100px;
    padding-bottom: 100px;
}

.page-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.page-company {
    width: 250px;
    text-align: left;
}

.page-company__title {
    font-size: 18px;
    line-height: 72px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: .1em;
    margin: 0px;
}

.page-company__text,
.page-contact__email,
.page-contact__address,
.page-nav__list a,
.page-social__item a {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: .005em;
    color: #bcbcbc;
    margin: 0px;
}

.page-contact {
    width: 170px;
}

.page-nav {
    text-decoration: none;
}

.page-nav__list {
    list-style-position: inside;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    list-style-type: none;
    height: 100px;
    max-width: 250px;
}


/* SECOND PAGE */
/* PAGE NAME'S - HOME */

.home-page__inner {
    background-color: #ffffff;
}

.design {
    background-color: #f6f6f6;
}

/* grid */
.grid-background__home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
}

.grid-item__home {
    background-color: #dddddd;
}

.grid-item__home:nth-child(3),
.grid-item__home:nth-child(11),
.grid-item__home:nth-child(9),
.grid-item__home:first-child,
.grid-item__home:nth-child(8) {
    background-color: #838383;
}

.grid-item__home:nth-child(6) {
    background-color: #21bfb9;
}

.grid-item__home:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
}