body {
    font-family: 'Nunito Sans', 'Arial', sans-serif;

    padding: 0px;
    margin: 0px;

    color: #787878;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}



/* section with grid */
.grid-background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 100px;
}

.grid-item {
    background-color: #dddddd;
}

.grid-item:first-child,
.grid-item:nth-child(3),
.grid-item:nth-child(8) {
    background-color: #838383;
}

.grid-item:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item:last-child {
    background-color: #f5f5f5;
    grid-column: 1/5;
}

.dark {
    background-color: #252525; 
}

.light {
    background-color: #244ed6;
    background-image: url('img/animation/IMG_2361.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.eye {
    background-color: inherit;
    color: inherit;
    border-color: transparent;
}

.eye:hover {
    opacity: 0.7;
    cursor: pointer;
}

